div{
    height: 600px;
    padding-top: 20px;
    background-image: url(../../../assets/images/wp3081001-punta-cana-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    width: 500px;
    margin: auto;
}